[user]
	name = [NAME]
	email = [EMAIL]
	signingkey = [SIGNINGKEY]
[help]
	autocorrect = 50
[core]
	editor = "notepad"
[push]
	default = simple
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
